<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todolist_object.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th> Task </th>
                        <th> Due Date </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for job in show_detail.items.all %}
                        <tr>
                            <td>{{ job.task }}</td>
                            <td> {{ job.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
